<body>
  <nav class="top">
  <div>
    <button id="myCartbtn" routerLink="/books" routerLinkActive="active">
      <h2>Back</h2>
    </button>
    
  </div>
</nav>
<div class="flex">
  <div>
    <img
      [src]="book.singleBook.image"
      [alt]="book.singleBook.name"
      class="image"
    />
  </div>
  <div>
    <h4>
      '{{ book.singleBook.name | titlecase }}' by
      {{ book.singleBook.author | titlecase }}
    </h4>
    <h4>{{ book.singleBook.price | currency: "INR" }}</h4>
  </div>
</div>

</body>